<div class="row clearfix">
	<div class="col-xs-12 col-sm-6">
		
		<h2>Browse all courses</h2>
		<p>View all the courses others have uploaded</p>
		<p>
			<%= link_to courses_path, class:"btn btn-success" do %>
			<span class="fa fa-book"></span>&nbsp; View all course
			<% end %>
		</p>
	</div>
	<div class="col-xs-12 col-sm-6">
		<h2>Create new courses</h2>
		<p>You can create new courses, or even update your existing ones</p>
		<p>
			<%= link_to new_course_path, class:"btn btn-success" do %>
			<span class="fa fa-plus"></span>&nbsp; Create new course
			<% end %>
		</p>
	</div>
</div>