<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container clearfix">
		<h2 class="entry-title">All courses</h2>
	</div>
</div>
<% end %>


<div class="content-block" id="CoursesIndexArea">
  <% if @courses.blank? %>
    <% if current_user %>
    <h4>There are no courses available at the moment. Please come back later</h4>
    <% else %>
    <h4>There are no courses available</h4>
    <% end %>
    <p>
      <%= link_to "New Course", new_course_path, class: "btn btn-success" if current_user %>
    </p>
  <% else %>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#Courses" data-toggle="tab">Courses</a>
      </li>
  		<li>
  		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
  		</li>
  	</ul><!--end ul.nav.nav-pills-->
  	<div class="tab-content clearfix">
  	  <div class="tab-pane active" id="Courses">
  	    <div class="courses">
        <% @courses.each do |course| %>
        <%= render "course", course: course %>
        <% end if @courses.presence %>
        </div>
  	  </div>
  	  <div class="tab-pane" id="Coordinators">
  	    <div class="coordinators">
  	        <% @coordinators.each do |coordinator| %>
  	        <%= render "users/coordinator", coordinator: coordinator %>
  	        <% end if @coordinators.presence %>
  	    </div><!--end .coordinators-->
  	  </div>
  	</div><!--end .tab-content-->
  <% end %>
</div><!--end #CoursesIndexArea.content-block-->
