<div class="content-block" id="CoursesNewArea">
    <h1>New Course</h1>
    
    <% if @course.errors.any? %>
		<div class="validation-summary">
			<ul>
				<% @course.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
    <%= render 'form', course: @course  if current_user %>
</div>
