html, body {
	font-family: "Open Sans", sans-serif;
}

a {
	&:hover {
	}
}

ul {
	li {
		a {
			&:hover {}
		}
	}
}

//===============================
// CONTAINER - 960px based
//===============================
.container {
	width: 100%;
	max-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}


/*==========================
STICKY FOOTER
from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
==========================*/
html, body {
    height: 100%;
}
.site-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.site-main {
    flex: 1;
}


/*==========================
CLEARFIX
from https://css-tricks.com/snippets/css/clear-fix/
==========================*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.site-wrapper {}
.site-header {}
.site-main {}
.site-banner {}
.site-content {
}
.site-sidebar {}


/*==========================
CONTENT BLOCKS
==========================*/
.content-block {
	margin: 20px -10px;
	min-height: 200px;
}
.content-block form button[type=submit].btn {
	font-size: 15px;
	padding: 7px 38px;
}
@media screen and (min-width: 361px){
	.content-block {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and(min-width: 480px){
	.content-block {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

/*========================
ENTRY-XXXXXXX styling
========================*/
.entry-header {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
    padding: 10px 0 10px 0;
}

.entry-title {
	margin-top: 0.5em;
    font-size: 24px;
}
.entry-header .entry-title {
	margin-bottom: 10px;
    margin-top: 30px;
}

@media screen and (min-width: 481px){
	.entry-header {
		padding-top: 20px;
		
	}
	.entry-title {
		margin-top: 1em;
		font-size: 30px;
	}
}

/*========================
GO BACK!!!
========================*/
.go-back-area {
	padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
}
