/*========================
LIST OF COURSES
========================*/
.courses {}

.course-item {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 10px 10px 40px 80px;
    position: relative;
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
    
    .course-actions {
	    position: absolute;
	    right: 10px;
	    bottom: 10px;
	}
    
    .course-image-parent {
	    width: 60px;
	    height: 60px;
	    position: absolute;
	    left: 10px;
	    top: 10px;
	    text-align: center;
	    overflow: hidden;
	    
	    .course-image {
		    display: inline-block;
		    height: 100%;
		    position: relative;
		    margin-left: -200%;
		    left: 100%;
		}
	}
	
	.course-details {
	    font-size: 13px;
	    
	    p {
		    margin: 0;
		    line-height: 1.4;
		}
		
		.course-title {
		    font-size: 15px;
		    margin: 0;
		    margin-bottom: 6px;
		}
		
		.course-meta {
		    margin: 0;
		}
		
		.course-coordinator {
		    margin: 5px 0;
		    position: relative;
		    padding-left: 50px;
		    min-height: 40px;
		    
		    .coordinator-avatar-parent {
			    position: absolute;
			    top: 0;
			    left: 0;
			    display: inline-block;
			    width: 40px;
			    
			    img {
				    display: inline-block;
				    width: 100%;
				}
			}
		}
	} 
}

@media screen and (min-width: 481px){
	.course-item {
        padding-bottom: 10px;
        padding-left: 140px;
        margin-bottom: 15px;
        
        .course-image-parent {
	        max-height: 110px;
	        max-width: 110px;
	        height: 100%;
	        width: 100%;
	        top: 15px;
	        left: 15px;
	    }
	    
	    .course-details {
		    .course-title {
		        font-size: 18px;
		    }
		    
		    .course-coordinator {
		        padding-left: 60px;
		        min-height: 60px;
		    }
		    
		    .course-coordinator { 
		    	.coordinator-avatar-parent {
        			width: 50px;
		    	}
		    }
	    }
    }
}

@media screen and (min-width: 641px){
	.course-item {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 160px;
        
        .course-image-parent {
		    max-height: 130px;
		    max-width: 130px;
		    height: 100%;
		    width: 100%;
		    top: 15px;
		    left: 15px;
		}
    }
}



/*========================
COURSE DETAILS
========================*/
.course {
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 720px;
    position: relative;
}
.course .edit-course {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.course .course-banner {
    height: 160px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.course .course-title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.course .course-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}
.course .course-banner .vote {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #337ab7;
	color: #fff;
}

.course .course-banner .vote a {
    color: #ddd;
}

.course .course-banner .vote a:hover {
    color: #fff;
}

.course .course-banner .vote .downvote {
    margin-left: 10px;
}

.course .course-banner img {
    display: inline-block;
    width: 100%;
    min-height: 160px;
}

.course .course-meta {
    padding: 20px 0;
}

.course .course-description {
    max-width: 733px;
}

.course .course-coordinator {
	padding-left: 60px;
	position: relative;
}
.course .course-coordinator img {
    width: 50px;
    position: absolute;
    left: 0;
}

.course .course-actions {
    max-width: 733px;
    position: relative;
    padding: 15px 0;
}

.course .course-actions .vote {
    float: right;
}

.course .course-actions .vote .upvote {
    margin-right: 10px;
}
@media screen and (min-width: 481px){
	.course .course-title {
		font-size: 24px;
	}
}





/*========================
EDIT/CREATE COURSE
========================*/
#CoursesEditArea,
#CoursesNewArea {
	max-width: 720px;
	background-color: #f5f5f5;
	padding: 15px;
	border: 1px solid #ddd;
	
	form {}
	
	.form-group{
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			display: inline-block;
    		margin-right: 20px;
		}
	} 
	
	.image-preview-area {
		margin-top: 7px;
		display: inline-block;
		max-width: 240px;
		max-height: 100px;
		
		img {
			max-height: 120px;
		    width: auto;
		}
	}
}

@media screen and (min-width: 481px){
	#CoursesEditArea,
	#CoursesNewArea {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: auto;
		margin-right: auto;
	}	
}



