/*==========================
NAVIGATION
==========================*/
.nav.navbar {
    
}

.profile-menu > a {
	background-color: #671111 !important;
    color: #fff !important;
}

.navbar {
    margin-bottom: 0;
}

#CreateNewCourse {
    background-color: #06651b;
    color: #e0e0e0;
    
    &:hover {
        color: #fff;
    }
}