/*==========================
NAVIGATION
==========================*/
.nav.navbar {
    
}

.profile-menu > a {
	background-color: #671111 !important;
    color: #fff !important;
}

.navbar {
    margin-bottom: 0;
}