<div class="content-block" id="CategoriesEditArea">
    
    <h3>Edit category: <%= @category.name %>
	</h3>
    		
    <% if @category.errors.any? %>
	<div class="validation-summary">
		<ul>
			<% @category.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<%= render 'form', category: @category if current_user %>
	
</div>

