<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container">
		<h2 class="entry-title">All Locations</h2>
	</div>
</div>
<% end %>

<div class="content-block" id="LocationsIndexArea">
  <% if @locations.blank? %>
    <h4>There are no locations available at the moment. Please come back later.</h4>
    <p>
      <%= link_to 'New Location', new_location_path, class:"btn btn-success" if current_user %>
    </p>
  <% else %>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#Locations" data-toggle="tab">Categories</a>
    </li>
		<li>
		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
		</li>
	</ul>
	<div class="tab-content clearfix">
	  <div class="tab-pane active" id="Locations">
	    <div class="courses">
        <% @courses.each do |course| %>
        <%= render "course", course: course %>
        <% end %>
      </div>
	  </div>
	  <div class="tab-pane" id="Coordinators">
	    TODO: COORDINATORS FOR COURSES IN THIS LOCATION
	  </div>
  <% end %>
</div>
