<div class="content-block" id="LocationsNewArea">
    <h3>Create new location</h3>
    
    <% if @location.errors.any? %>
	<div class="validation-summary">
		<ul>
			<% @location.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<%= render 'form', location: @location if current_user %>
	
</div>
