<%= content_for :entry_header do %>
<div class="entry-header">
	<div class="container">
		<h2 class="entry-title">Location: <%= @location.at %></h2>
	</div>
</div>
<% end %>

<div class="content-block" id="LocationsShowArea">
  <% if @location.courses.blank? %>
  	<h4>There are no courses assigned at this location</h4>
    <p>TODO: CREATE NEW COURSE AT THIS LOCATION</p>
  <% else %>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#Courses" data-toggle="tab">Courses</a>
    </li>
		<li>
		  <a href="#Coordinators" data-toggle="tab">Coordinators</a>
		</li>
	</ul>
	
	<div class="tab-content clearfix">
	  <div class="tab-pane active" id="Courses">
	    <div class="courses">
	        <% @location.courses.each do |course| %>
	        <%= render "courses/course", course: course %>
	        <% end %>
	    </div>
	  </div>
	  <div class="tab-pane" id="Coordinators">
	    TODO: COORDINATORS FOR COURSES IN THIS LOCATION
	  </div>
	</div>
  <% end %>
</div>