<div class="site-footer">
  <div class="footer-bottom">
    <div class="container">
      Copyright &copy; 2017 myCourse. 
      <a href="mailto:admin@sciencecourses@rmit.edu.au">Contact Us</a>
    </div>
  </div><!-- end .footer-bottom -->
</div><!-- end .site-footer -->